.testimonial-container {
  display: flex;
  gap: 30px;
  padding: 60px;
  padding-bottom: 70px;
  position: relative;
  top: 16%;
  background: rgba(25, 64, 90, 0.945);
  box-shadow: 0 0 400px rgb(248, 202, 73);
  border-radius: 10px;
  margin: 0 4vw 0 4vw;
  width: 90%;
  height: 70%;
  max-width: 1200px;
  max-height: 650px;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.container-title {
  color: white;
  font-size: 30px;
  padding-right: 20px;
}

.container-title h4 {
  font-size: 24px;
}

.container-title h3 {
  color: rgb(219, 161, 95);
}

.container-title h2 {
  color: rgb(235, 214, 157);
}

.container-title h5 {
  font-size: 40px;
}

.column {
  background: linear-gradient(#19405af1 0%, #19405a5e 60%, #19405af1 100%);
  box-shadow: 0 0 10px rgb(255, 154, 1);
  color: rgb(168, 255, 243);
  border-radius: 10px;
  padding: 30px;
  text-align: justify left;
  width: max-content;
  max-height: 500px;
}

.column h5 {
  padding-bottom: 65px;
  height: 50px;
  font-size: 20px;
  color: rgb(219, 161, 95);
  text-align: center;
}

.column p {
  font-size: 11px;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 992px) {
  .column p {
    font-size: 1vw;
  }
}
